<div>

  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <i class="navbar-item fas fa-hourglass" href="#" style="font-size:60px;"></i>
      <p class="navbar-item" href="#">Http Sandbox</p>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">

      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href="https://github.com/ssubedir/http-sandbox">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <strong>Github</strong>
            </a>
            
          </div>
        </div>
      </div>
    </div>
  </nav>




  <section class="hero is-small">
    <div class="hero-body m-t-md">
      <div class="container">
        <div class="column is-offset-1 is-10" style="text-align: center;">
          <div class="m-b-md"><i class="fas fa-exchange-alt" style="font-size:60px;"></i></div>
          <h1
            class="subtitle is-size-1-fullhd is-size-2-desktop is-size-2-tablet is-size-3-mobile has-text-centered has-text-dark">
            Test <strong class="has-text-weight-bold">GET and POST </strong>Requests
          </h1>
        </div>
      </div>
    </div>
  </section>

  <app-request></app-request>

  
  <footer class="container">
    <div class="container">
      <nav class="level">
        <div class="level-left">
          
        </div>
        <div class="level-right">
          <div class="level-item">
            <p class="has-text-centered">
              Brought to you by <a href="http://ssubedir.com" target="_blank"
                rel="noopener">Rajan Subedi</a></p>
          </div>
        </div>
      </nav>
      <!---->
      <!---->
    </div>
  </footer>

</div>